/* below 1200px */

@media (max-width: 75em) {
  .skill-item {
    font-size: 1.6rem;
  }

  .technology-logo {
    width: 6rem;
  }

  .tecnology p {
    font-size: 1.2rem;
  }
}

/* bellow 950px */

@media (max-width: 60em) {
  html {
    font-size: 56.25%;
  }

  /* .section {
    padding: 8rem 4rem;
  } */

  .technology-logo {
    width: 6rem;
  }
}

/* below 760px */

@media (max-width: 48em) {
  html {
    font-size: 50%;
  }

  .section {
    padding: 8rem 4rem;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .hero {
    padding: 6.4rem 4rem;
  } */
  /* .main-header {
    font-size: 2.4rem;
  } */

  .main-nav {
    visibility: hidden;
  }

  .hero-header {
    font-size: 3.2rem;
  }

  .hero-colation {
    font-size: 1.8rem;
  }

  .hero-description {
    font-size: 1.6rem;
  }

  .skill-item {
    font-size: 2rem;
  }

  .project-technologies {
    /* margin-bottom: 3.2rem; */
    /* gap: 2.4rem; */
  }

  .tecnology p {
    font-size: 1.4rem;
  }

  .tecnology svg {
    margin-bottom: 0.5rem;
  }

  .career-tree-box {
    max-width: 100%;
  }

  /* .technology-logo {
    width: 5.5rem;
  } */
}

@media (max-width: 38em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  /* .grid--3-cols {
    grid-template-columns: 1fr;
  } */

  .hero-img-box {
    grid-row: 1;
    justify-content: center;
  }

  .hero-img-box img {
    width: 70%;
  }

  .hero-img-box::after {
    width: 50%;
    padding-bottom: 50%;
    left: 50%;

    transform: translate(-45%, -45%);
  }

  .hero-header {
    font-size: 3.6rem;
  }

  .hero-colation {
    font-size: 2.4rem;
  }

  .hero-description {
    font-size: 2rem;
  }

  .skill-item {
    font-size: 1.4rem;
  }

  .project-details {
    grid-row: 2;
  }

  .project-details-header {
    font-size: 2rem;
  }

  .project-details-description {
    font-size: 1.8rem;
  }

  .diploma-item {
    gap: 3.2rem;
  }

  .diploma-box {
    row-gap: 2.4rem;
  }

  .school {
    font-size: 2.4rem;
  }

  .degree {
    font-size: 2rem;
  }

  .dates {
    font-size: 1.8rem;
  }

  .certificate-link:link,
  .certificate-link:visited {
    font-size: 2rem;
  }
}

/* Below 400px */

@media (max-width: 25em) {
  .section {
    padding: 8rem 2rem;
  }

  .grid--3-cols,
  .footer-content {
    grid-template-columns: 1fr;
  }

  .school {
    font-size: 2rem;
  }

  .degree {
    font-size: 1.8rem;
  }

  .dates {
    font-size: 1.6rem;
  }

  .certificate-link:link,
  .certificate-link:visited {
    font-size: 1.8rem;
  }

  .contacts h4,
  .other-links h4 {
    text-align: center;
  }
}
